SECRET_KEY=YOUR-SECRET-KEY

DB_NAME=YOUR-DB-NAME
DB_USER=YOUR-DB-USER
DB_PASSWORD=YOUR-DB-PASSWORD
DB_HOST=YOUR-DB-HOST
DB_PORT=YOUR-DB-PORT


EMAIL_BACKEND=YOUR-EMAIL-BACKEND
EMAIL_HOST=YOUR-EMAIL-HOST
EMAIL_PORT=YOUR-EMAIL-PORT
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=YOUR-EMAIL-HOST-USER
EMAIL_HOST_PASSWORD=YOUR-EMAIL-HOST-EMAIL-HOST-PASSWORD
DEFAULT_FROM_EMAIL=YOUR-DEFAULT-FROM-EMAIL
